sumy==0.11.0
nltk==3.9.1
jupyter==1.1.1
scipy==1.14.1
rouge==1.0.1
pandas==2.2.3
pyarrow==18.0.0
ollama==0.3.3
requests==2.32.3
gitpython
torch==2.5.0
transformers==4.46.0
sentencepiece==0.2.0
protobuf==5.28.3
sentence-transformers==3.2.1
spacy==3.8.2
bert-score==0.3.13

