Winds could reach gale force in Wales with stormy weather set to hit the whole of the country this week.
The massive tidal turbine AK1000 has been installed in 35m (114.8ft) of water at a test site in Orkney.
A man has been stabbed in broad daylight outside a betting shop in Leeds.
It was inevitable that the fallout from the US airstrike that killed Iranian General Qasem Soleimani would spill into presidential politics. Everything spills into presidential politics these days, and this is without a doubt a major story.
Week four of social distancing is starting to take its toll.
