Winds could reach gale force in Wales with stormy weather set to hit the whole of the country this week.
The massive tidal turbine AK1000 has been installed in 35m (114.8ft) of water at a test site in Orkney.
A man has been stabbed in broad daylight outside a betting shop in Leeds.
It was inevitable that the fallout from the US airstrike that killed Iranian General Qasem Soleimani would spill into presidential politics. Everything spills into presidential politics these days, and this is without a doubt a major story.
Week four of social distancing is starting to take its toll.
A 37-year-old man has been arrested as part an ongoing investigation into criminality linked to the North Antrim Ulster Defence Association (UDA).
Electric buses will soon be running on the roads in Coventry.
A Jersey deputy is calling on the number of States members to be reduced more than current proposals.
About 200 posts are to go at the Boots site in Nottingham.
A degree in military intelligence studies, highlighting the importance of Bletchley Park is to be offered by The University of Buckingham.
The fiercely-contested debate over US abortion focuses on the rights of the mother and foetus. But a lawsuit in Alabama by a man who says his girlfriend had an abortion against his wishes adds a third voice to the conversation, writes James Jeffrey.
When the Americans launched the invasion that toppled Saddam Hussein in 2003 and plunged Iraq into the violent chaos that continues today, few people outside the country had even heard of a little-qualified young Shia cleric called Moqtada al-Sadr.
The Magazine feature on the number of expat Americans renouncing their US citizenship due to tax filing requirements prompted a huge response from readers.
One of the leading scientists on the Rosetta Project gave a string of TV interviews in a shirt emblazoned with half-dressed women. The angry reaction online spawned two hashtags, spoof images and has now led to a tearful apology as well.
A 103-year-old swimming pool has been shut for four days after an inspection revealed urgent repairs were needed.
Scotland's opportunities for sailing and boating on rivers, lochs and seas are being promoted in a new campaign.
A British team is developing a car that will capable of reaching 1,000mph (1,610km/h). Powered by a rocket bolted to a Eurofighter-Typhoon jet engine, the Bloodhound SSC (SuperSonic Car) vehicle will mount an assault on the land speed record. Wing Commander Green is writing a diary for the BBC News website about his experiences working on the Bloodhound project and the team's efforts to inspire national interest in science and engineering.
A British team is developing a car that will be capable of reaching 1,000mph (1,610km/h). Powered by a rocket bolted to a Eurofighter-Typhoon jet engine, the vehicle aims to show its potential by going progressively faster, year after year. By the end of 2019, Bloodhound wants to have demonstrated speeds above 500mph. The next step would be to break the existing world land speed record (763mph; 1,228km/h). The racing will take place on Hakskeen Pan in Northern Cape, South Africa.
Five years ago, Nick Alexander was shot dead at the Bataclan Theatre in Paris. The 35-year-old was working as the merchandise manager for Eagles of Death Metal when three gunmen stormed the building as part of co-ordinated terror attacks across the city, killing 130 people.
Three journalists from al-Jazeera's English news channel go on trial in Egypt on Thursday, in a case which campaigners say is part of a sweeping crackdown on freedom of speech, reports the BBC's Orla Guerin in Cairo.
Life with a disability can sometimes give rise to unspoken questions and sensitivities, but amid the awkwardness there can be humour. The following is an edited version of a sketch by Philip Henry, who has Crohn's Disease, delivered for the BBC at the Edinburgh Festival Fringe.
The BBC show Merlin will end after the current series.
A road has reopened after a large lorry earlier became stuck under a railway bridge in Powys forcing the cancellation of trains.
The horrific attack at Kunming railway station - in which knife-wielding attackers hacked at least 29 people to death - has shocked China. One of the country's newspapers dubbed it China's "9/11."
Three of Barry Bennell's victims have told how he turned their dreams into a "horrendous nightmare" after the former youth football coach was convicted of 43 sex assaults on boys.
Computer technology now moves so fast it's hard to remember life before the internet. But just 19 years ago at the beginning of the nineties, the fledgling world wide web had no search engines, no social networking sites, and no webcam.
A 40-year-old woman from northern India killed herself in January after a video of her being raped was circulated on WhatsApp. The BBC's Divya Arya travelled to the village in Uttar Pradesh to hear the full story.
In the past couple of months there has been a suicide terrorist attack almost every day somewhere in the world. The attacks have covered all the main continents and dozens of countries. The list is becoming endless and includes such countries as Indonesia which had not experienced a terrorist attack for nearly a decade.
The Monrovia Church massacre in 1990 was the worst single atrocity of the Liberian civil war. About 600 civilians, including many children, were killed while taking refuge in a church. Now, four survivors are bringing a claim for damages against one of the men they believe was responsible, reports Elizabeth Blunt who was a BBC correspondent in Liberia at the time.
The Magazine's recent piece on changing your name by deed poll prompted lots of readers to email examples. Here are 25 of the best.
Presidential elections are always something of a national Rorschach test.
Fifty new homes are planned for Swansea after the Welsh government announced a deal with a construction company.
Nearly 3,000 tonnes of ammonium nitrate - taken from a ship off the coast of Beirut six years ago and then stored in a warehouse - has been blamed for the explosion that ripped through the port area of the Lebanese capital on Tuesday.
When there is severe weather a list of schools that are being affected in Leicester and Leicestershire will appear below.
A group of soldiers and military wives from Surrey are on a 500 mile (805km) ride from Epsom to Germany to raise money for two rehabilitation centres.
The A55 in Gwynedd has now reopened after a caravan overturned on the road.
Plans to build 529 new homes and a school at a former steelworks in Newport have been submitted to the council .
Many died in the cause of victory, but returned home from World War One to face intolerance, unrest and scorn. Cardiff's multicultural Tiger Bay contributed many black servicemen to the war effort, but there was no hero's welcome on their return. Actress Suzanne Packer looked at what life was like for them 100 years ago.
Key dates in the long-running crisis over North Korea's nuclear weapons programme.
At the same time a blue plaque was unveiled to mark the childhood home of football legend Laurie Cunningham it was revealed that in London, just 4% of the plaques honour black or Asian luminaries. But in such an ethnically diverse city, why are there so few?
It's the start of half-term week, and Lucy is making pancakes for her two children for breakfast. But these are made with water, as she doesn't have any milk left. The eggs are from the chickens in her garden. And she is wondering what else she will feed her children until they go back to school.
Ministers are feeling the pressure of awkward questions today.
A West Midlands hospital has closed all wards to visitors as a precaution because of the winter vomiting bug.
The UK parliament has just rejected Boris Johnson's bid to call a snap general election - for a third time - despite the prime minister arguing it would help "get Brexit done". But there remains a chance that the UK could have a pre-Christmas election.
"Europe: journey to an unknown destination"
Police are investigating whether two sexual assaults which happened very closely to one another in Cardiff are linked.
The BBC has managed to speak to some people inside Mekelle, the capital of the Ethiopia's conflict-hit region of Tigray, for the first time since Prime Minister Abiy Ahmed declared an end to the four-week-long military operation.
Relax! Take the afternoon off. You don't have to vacuum behind the sofa. The new Doctor Who isn't that scary. It has its moments, of course, but a trip to the dentist is far worse - at least it would be if...well…
Anthony Kennedy was a swing vote on the US Supreme Court, albeit one that frequently tilted to the right. Replacing him with a solidly conservative justice, however, could have a significant impact on US jurisprudence - and politics - for decades to come.
More than £500m in new money is trumpeted in the new agreement between Northern Ireland's political parties and the British and Irish governments.
Early malnutrition can blight a child's development - and also that of their community and nation, say Anthony Lake. director of Unicef and President Jakaya Kikwete of Tanzania. In this week's Scrubbing Up column, they say a new initiative called Scaling Up Nutrition - backed by the G8 - is crucially important.
The UK city of Salisbury has been named among the top 10 cities in the world to visit, by the Lonely Planet travel guide. We should not be surprised - it is one of the loveliest places on earth, writes the Right Reverend Nicholas Holtam, Bishop of Salisbury.
Gopnik. It's not the most common of surnames. In Russian it's a term for "drunken lout". Those who carry a curious name know it has comedy value, says Adam Gopnik (that's G - O - P - N - I - K).
It is a frostily cold morning in the outskirts of Johannesburg. Children aged between six and 17 are queuing up for their "morning meds", shivering their greetings to the nurse assigned to supervise them. It's now part of their daily routine before they skip off into the yard and get bussed off to school.
Noctilucent clouds, the highest in the earth's atmosphere, have been photographed from the west coast of the Isle of Man.
Scores of people have been killed and wounded in attacks at Brussels international airport and a city metro station during the morning rush hour.
Two Tyne and Wear Metro stations are to be refurbished as part of a £385m modernisation programme.
So what has changed, if anything, in the wake of the Israeli Prime Minister Benjamin Netanyahu's theatrical presentation of Israel's claimed seizure of a trove of documents from Iran's secret nuclear archive?
A man is in a critical condition after he was rescued from a fire at a care home in Oxfordshire.
A few random thoughts from the Lib Dem conference.
Eco-anxiety is a recently popularised term to describe the overwhelming powerlessness some people say they experience when they think about climate change. For parents, such fears can be particularly acute. BBC News speaks to some of those affected.
About 100 bronze plaques have been stolen from a South Yorkshire crematorium.
Dog walkers have been urged to take care on Pembrokeshire beaches after what is believed to be palm oil was washed up.
Aberdeen Exhibition and Conference Centre needs a new larger arena to attract stars, its managers have said.
One in four fast ferries between the UK and Channel Islands are late, according to figures released by Condor Ferries.
An ornate brass lectern has been stolen from a church near Newbury.
A 20-year-old man has died after a one-car crash in Carmarthenshire.
In Sri Lanka the legal marriage age is 18, but under a decades-old community law, much younger Muslim girls can get married. As calls grow for this law to be amended, BBC Sinhala's Saroj Pathirana meets one young girl forced to marry against her will.
With the offensive on Mosul well under way, the simmering tensions between the Shia-dominated Iraqi government and Turkey threaten to open up new fault lines that could greatly complicate the operation. They also raise questions about the future battle for influence in Mosul in particular and, more generally, in northern Iraq.
Over the past year, Russia has seen an unprecedented rise in the activity of "Kremlin trolls" - bloggers allegedly paid by the state to criticise Ukraine and the West on social media and post favourable comments about the leadership in Moscow.
Ideas have been invited from the Isle of Man public about the future of the site of a former Victorian jail.
A selection of your pictures of Scotland sent in between 25 September and 2 October. Send your photos to scotlandpictures@bbc.co.uk. Please ensure you adhere to the BBC's rules regarding photographs which can be found here.
One hundred years ago this weekend, a fortnight after Armistice celebrations brought people to the streets across Great Britain and Ireland, a killer that claimed more lives globally than the four-year conflict reached its peak in Belfast.
Perhaps it's the blinding glare of the buzz surrounding his band at the moment, or the din of the rest of his gang watching Terminator 2 in the back of the tour van, but Alex Hewett is pretty quiet today.
A shocked squirrel has scooped the overall prize in this year's Comedy Wildlife Photography Awards.
It was a quiet Friday morning last July when pandemonium broke out at a school in north-east Malaysia. Siti Nurannisaa, a 17-year-old student, was at the centre of the chaos. This is her account of what happened.
A man is being treated in intensive care after being found in the street with a serious head injury.
A man has appeared in court charged with the attempted murder of a police officer who was left seriously injured when he was hit by a car.
One man was killed and another injured when a glider crashed on school playing fields in Gloucestershire.
At a time when other states in the US are backing away from the death penalty, Missouri has done the opposite. It is currently executing its death row inmates faster than any other state in the country, at a rate of about one per month.
You can't judge a zebra by its stripes.
Plans for the £350m redevelopment of Swindon town centre are on show for the first time.
When Prime Minister Boris Johnson announced certain businesses in England could reopen, there was some surprise that model villages appeared on a list alongside places like pubs, restaurants and hairdressers. BBC News went to Buckinghamshire to find out more about this very British fascination.
A hillwalker has died on a walk in Sutherland, police have said.
The health agreement between Jersey and the UK is "very close" to being reinstated, a minister says.
Final preparations are being made for the 14th Loopallu music festival in Ullapool this weekend.
The rubble and ruins after a massive explosion at a wood flour mill in Cheshire have been described as a scene of "complete devastation" .
When Holly began her relationship with Simon, it felt like the "best thing she had ever encountered". But as time went on, he became violent. When she ran away he hunted her down. This is her story from the time she became pregnant with their child, in her own words, as told to the BBC's Victoria Derbyshire programme.
Nicola Sturgeon is set to continue as Scotland's first minister following the SNP's victory in the Scottish Parliament election on 5 May 2016.
Britain's most senior Roman Catholic cleric, Cardinal Keith O'Brien, is resigning as Archbishop of St Andrews and Edinburgh, after being accused of inappropriate conduct - allegations he contests. This is the full statement issued by the Scottish Catholic Media Office on the resignation of the cardinal:
At a union-organised event in Seattle former McDonald's worker Martina Phelps recounts how she walked out three years ago in protest at how little she and her colleagues were getting paid. It was the first time she had ever taken part in a strike.
Some will contest it, some will question the motives.
It's not very often we get to talk about a revolution in understanding and treating depression and yet now doctors are talking about "one of the strongest discoveries in psychiatry for the last 20 years".
Seven West Midlands Ambulance Service stations have been put up for sale.
It is more than a week since Britain voted to leave the European Union, and there is still little certainty regarding the future status of EU citizens currently living in the UK, or of British people living elsewhere in the EU.
The most powerful Atlantic storm in a decade has caused widespread destruction across the Caribbean and the southern US, leaving 55 people dead. Irma, at times a category five hurricane, packed winds of up to 295km/h (185mph).
People in Arkansas thought that the Mueller report was a "witch hunt" and feel vindicated by its findings. Their affection for President Donald Trump is deep - and so is their scepticism towards the special counsel and Washington.
It is easy to be gloomy about the Eurozone's economic prospects. While GDP in the UK and US is now above its pre-crisis level, in the Eurozone it is still languishing below. But is there room for greater optimism?
On Saturday protests are planned across the world against Acta - the Anti-Counterfeiting Trade Agreement. The treaty has become the focus of activists associated with the Anonymous hacking network because of concerns that it could undermine internet privacy and aid censorship.
The Great Barrier Reef is one of more than 1,000 places on Unesco's World Heritage List of precious environmental and cultural sites. In June, Unesco will decide if the Reef should be added to its "in danger" list. On Friday, a draft recommendation will be made about the reef's status.
